body
{
    background: url("images/books.jpg") top center;
}

.container
{
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    background-color: lightgray;
}

.heder
{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}

.content
{
    min-height: 470px;
    text-align: center;
    color: white;
}

.footer
{
    text-align: center;
    background-color: black;
    color: white;
    padding: 15px;
}

.login
{
    /*text-align: center;*/
    color: white;
}

.addbook
{
    color: white;
}

#delbook
{
    text-align: center;
    color: white;
}


a
{
    text-decoration: none;
    color: blue;
}

a:hover
{
    color: azure;
}

